@import "tailwindcss";

:root {
  font-family: "Syne", sans-serif;;
}

::-webkit-scrollbar { width: 10px; height: 10px; }
::-webkit-scrollbar-track {background: #1b1b1b;}
::-webkit-scrollbar-thumb {background: #2f2f2f; border-radius: 6px;}
::-webkit-scrollbar-thumb:hover { background: #616161; }
